.msg-container{
  margin-top: 0;
}

a{
  text-decoration: none !important;
  /*color: black;*/
}

.center{
  text-align: center;
}

.msg-box{
  background: #E6E6E7;
  padding: 15px 20px;
  margin: 2vmin 0;
}

.msg-detail{
  margin-top: 10vmin;
}

